<section id="contato" class="small-12 float-left section-block" data-thumb="{{root}}assets/img/bg-contato.jpg">
    <div class="row">

        <div class="info-contato small-12 large-4 columns">
            <header class="text-center section-title">
                <h3>Contato</h3>
            </header>

            <nav>
                <ul class="no-bullet">
                    <li class="vh wow fadeIn">
                        <div class="media-object-section">
                            <i class="icon-location d-iblock"></i>
                        </div>

                        <div class="media-object-section">
                            <span class="d-iblock"><strong>ENDEREÇO:</strong>R. Dr. Nunes Filho, 152 - Brisamar, João Pessoa - PB</span>
                        </div>
                    </li>

                    <li class="vh wow fadeIn" data-wow-delay=".3s">
                        <div class="media-object-section">
                            <i class="icon-mobile d-iblock"></i>
                        </div>

                        <div class="media-object-section">
                            <span class="d-iblock"><strong>Telefone:</strong>(83) 3244-5156</span>
                        </div>
                    </li>

                    <li class="vh wow fadeIn" data-wow-delay=".6s">
                        <div class="media-object-section">
                            <i class="icon-mail d-iblock"></i>
                        </div>

                        <div class="media-object-section">
                            <span class="d-iblock">contato@primeautocenter.com.br</span>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>

        <form action="" method="post" class="small-12 large-6 float-right vh wow fadeInUp">

            <p class="small-12 medium-6 columns">
                <input type="text" name="nome" placeholder="Nome">
            </p>

            <p class="small-12 medium-6 columns">
                <input type="tel" name="telefone" placeholder="Telefone">
            </p>

            <p class="small-12 columns">
                <input type="email" name="email" placeholder="E-mail">
            </p>

            <p class="small-12 columns">
                <textarea name="mensagem" cols="30" rows="6" placeholder="Diga-nos o que você precisa"></textarea>
            </p>

            <p class="small-12 columns text-right no-margin">
                <button type="submit" class="btn-white no-margin">Enviar</button>
            </p>

        </form>

    </div>

    <div class="small-12 map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3959.062776796194!2d-34.84420188464622!3d-7.118723894859395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7acdd49b6a5b679%3A0x1eb308b845d8e252!2sPrime+Auto+Center!5e0!3m2!1spt-BR!2sbr!4v1475487897216" class="small-12" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</section>