<nav id="main-menu" class="small-12 fixed top-left">
    <div class="row">
        <div class="small-12 columns rel">

            <a href="#" class="open-menu" data-open-menu>Menu</a>
            <a href="#" class="open-menu-mo" data-open-menu></a>

            <button class="close-button" aria-label="Fechar menu" type="button">
                <span aria-hidden="true" data-open-menu>&times;</span>
            </button>

            <ul class="menu vertical abs text-center" data-magellan>
                <li>
                    <img src="{{root}}assets/img/logo.png" alt="Prime Auto Center">
                </li>

                <li>
                    <a href="#home-top" data-open-menu title="Home">Home</a>
                </li>

                <li>
                    <a href="#about" data-open-menu title="Quem somos">Quem somos</a>
                </li>

                <li>
                    <a href="#orcamento" data-open-menu title="Orçamento">Orçamento</a>
                </li>

                <li>
                    <a href="#servicos" data-open-menu title="Serviços">Serviços</a>
                </li>

                <li>
                    <a href="#contato" data-open-menu title="Contato">Contato</a>
                </li>
            </ul>
        </div>
    </div>
</nav>