<section id="orcamento" class="small-12 float-left section-block" data-thumb="{{root}}assets/img/bg-form.jpg">
    <div class="row text-center">
        <div class="columns">
            <header class="section-title">
                <h3 class="no-margin vh wow fadeIn">Solicite um orçamento</h3>
                <h4><a href="#" class="btn-white vh wow fadeInUp" data-open="form-orcamento">Solitice agora</a></h4>
            </header>
        </div>
    </div>

    <div class="reveal large" id="form-orcamento" data-reveal>
        <form action="" class="small-12 float-left">

            <header class="small-12 medium-6 columns text-center">
                <p>Somos uma oficina especializada em manutenção<br>automotiva Nacionais e Iportados com Funilaria,<br>Pintura, DSP e mecânica.</p>
            </header>

            <div class="small-12 medium-6 columns">
                <p>
                    <input type="text" name="nome" placeholder="Nome">
                </p>
                <p>
                    <input type="tel" name="telefone" placeholder="Telefone">
                </p>
                <p>
                    <input type="email" name="email" placeholder="E-mail">
                </p>
                <p>
                    <textarea name="mensagem" id="mensagem" cols="30" rows="5" placeholder="Mensagem"></textarea>
                </p>
                <p class="text-right no-margin">
                    <button type="submit" class="btn-white no-margin">Solicitar</button>
                </p>
            </div>
        </form>

        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</section>