<section id="about" class="small-12 float-left section-block">
    <div class="row">
        <article class="small-12 columns text-center vh wow zoomInRight">
            <header class="small-12 float-left section-title">
                <h3>Quem somos</h3>
            </header>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus cupiditate dolore eaque eum inventore non officia quaerat sed. Aliquid assumenda atque deserunt hic nobis pariatur quae. Dolor ipsum numquam quibusdam? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias autem beatae consequatur corporis dolor doloremque libero magni modi nisi officia officiis quaerat quas qui quia quibusdam quidem, recusandae voluptate.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis explicabo iusto modi molestiae molestias placeat quidem quis repellat repellendus rerum sit, tempore veniam! Accusantium dolorum enim eum magnam vero.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi aperiam blanditiis excepturi incidunt inventore laborum, magni minima nam nesciunt, odio, odit quisquam recusandae reiciendis rem similique sunt vel voluptatem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores error laborum nobis porro quam quos repellendus ut! Alias consectetur consequatur explicabo labore laboriosam odit placeat quae soluta voluptatibus? Eos, neque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, commodi delectus dolore dolorem explicabo inventore laboriosam maxime molestiae molestias odio officia perspiciatis porro quaerat repellat sed sunt tempora tempore vel!</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias error eum incidunt mollitia nesciunt. Doloribus ducimus earum iure iusto nisi repellendus saepe? Aliquid dolore excepturi iure minus obcaecati porro quo?</p>
        </article>
    </div>
</section>