<footer id="footer" class="small-12 float-left">
    <div class="row">
        <div class="small-12 columns">
            <p class="no-margin small-12 medium-6 float-left text-center medium-text-left">Copyright &copy; 2016. Todos os direitos reservados</p>

            <p class="no-margin small-12 medium-6 float-left text-center medium-text-right">
                <a href="http://www.lumenagencia.com.br/" title="Desenvolvido pela Lumen Comunicação" target="_blank">
                    <img src="{{root}}assets/img/lumen.png" alt="Lumen Comunicação">
                </a>
            </p>
        </div>
    </div>
</footer>