<div id="top-fixed" class="small-12 fixed top-left text-center">
    <div class="triangle-red d-iblock"></div>
    <div class="small-12 abs top-left text-center">
        <img src="{{root}}assets/img/logo-white.png" alt="Prime Auto Center">
    </div>
</div>

<section id="home-top" class="small-12 rel full-height">

    <div class="logo-container abs top-left small-12 text-center vh wow slideInDown">
        <div class="triangle"></div>
    </div>

    <figure class="logo abs small-12 top-left text-center vh wow fadeIn" data-wow-delay=".5s">
        <img src="{{root}}assets/img/logo.png" alt="Prime Auto Center">
    </figure>

    <div class="row rel">

        <nav class="small-12 columns social vh wow fadeInUp" data-wow-duration="1.5s">
            <ul class="menu vertical no-margin d-iblock float-right large-pull-2">
                <li>
                    <a href="#" title="Siga-nos no Facebook" target="_blank">
                        <i class="icon-facebook trans"></i>
                        <span>Facebook</span>
                    </a>
                </li>
                <li>
                    <a href="#" title="Siga-nos no Instagram" target="_blank">
                        <i class="icon-instagram trans"></i>
                        <span>Instagram</span>
                    </a>
                </li>
            </ul>
        </nav>

        <!--<nav id="context-menu" class="small-12 columns abs top-right">-->
            <!--<ul class="menu vertical no-margin d-iblock float-right">-->
                <!--<li>-->
                    <!--<a href="#" title="">-->
                        <!--<i class="icon-location"></i>-->
                    <!--</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</nav>-->
    </div>

    <div class="text-center abs small-12 bottom-left" data-magellan>
        <a href="#servicos" class="btn-down">
            <span class="text-center d-iblock vh wow slideInUp">
                <i class="icon-down-open-big"></i>
            </span>
        </a>
    </div>
</section>